<% provide(:title, "Reset password")%>
<h1>Reset Password</h1>

<div class="row">
	<div class="col-md-6 col-me-offsset-3">
		<%= form_with(model: @user, url: password_reset_path(params[:id])) do |f| %>
			<%= render "shared/error_messages", object: f.object %>

			<%# list12.14追加 %>
			<%= hidden_field_tag :email, @user.email %>

			<%= f.label :password, "パスワード" %>
			<%= f.password_field :password, class: "form-control" %>

			<%= f.label :password_confirmation, "パスワード確認" %>
			<%= f.password_field :password_confirmation, class: "form-control" %>

			<%= f.submit "パスワード更新", class: "btn btn-primary" %>
		<% end %>