<div>
	<table class="table table-bordered">
			<thead>
				<td><%= @start_time.strftime("%Y年%m月%d日").to_s  %>の日記</td>
			</thead>
			<tbody>
				<tr>
					<td class="td-second"> <%= @title %></td>
				</tr>
				<tr>
					<td style="word-wrap:break-word;"><%= @contents %></td>
				</tr>
			</tbody>	
	</table>
</div>
<div>
	<% if current_user?(@diary.user) %>
		<%= link_to "日記削除", @diary, data: { "turbo-method": :delete,
											turbo_confirm: "削除してよいですか?" } %>
	<% end %>
</div>
<div>
	<%= image_tag  @diary.image ,class: "diary_image" if @diary.image.attached? %>	
</div>